
			#mountain{
					width:1350px;
					height:700px;
				 }	

			#moon{
					margin-top:-240px;
					margin-left:-240px;
					width:100px;
					height:100px;
					animation:moon 10s 2;
					
			     }

			
			@keyframes moon{
					 0%{display:none;margin-top:-240px;margin-left:-240px;rotate:0deg;}
					 10%{display:block;} 					 	 
					 50%{margin-top:-640px;margin-left:600px;rotate:180deg;}
					 100%{margin-top:-80px;margin-left:1700px;rotate:360deg;}
				       }
		